<p id="notice"><%= notice %></p>

<!-- Display the basics -->
<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>
<p>
  <strong>Price in dollars:</strong>
  <%= @tour.price_in_dollars %>
</p>
<p>
  <strong>Deadline:</strong>
  <%= @tour.deadline %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @tour.start_date %>
</p>
<p>
  <strong>End date:</strong>
  <%= @tour.end_date %>
</p>
<p>
  <strong>Operator contact:</strong>
  <%= @tour.operator_contact %>
</p>
<p>
  <strong>Status:</strong>
  <%= @tour.status_description %>
</p>
<p>
  <strong># Seats:</strong>
  <%= @tour.num_seats %>
</p>
<p>
  <!-- TODO: test this -->
  <strong># Available Seats:</strong>
  <%= Booking.get_available_seats_for_tour(@tour) %>
</p>
<p>
  <strong>Agent:</strong>
  <%= Listing.get_agent_name_for_tour(@tour) %>
</p>

<!-- Also display the itinerary -->
<p>
  <strong>Itinerary:</strong>
</p>
<% @locations.each do |location| %>
  <li><%= location.user_friendly_description %></li>
<% end %>
<br>

<!-- Also display any photos that exist for this tour -->
<% unless @photos.empty? %>
  <p>
    <strong>Photos:</strong>
  </p>
  <% @photos.each do |photo| %>
    <li><%= photo.name %></li>
  <% end %>
<% end %>

<!-- Links -->
<%= link_to 'Back', tours_path %>
<% if current_user_can_book_tours? %>
  | <%= link_to 'Book', new_booking_path(tour_id: @tour.id) %>
<% end %>
<% if current_user_can_modify_given_tour?(@tour) %>
  | <%= link_to 'Edit', edit_tour_path(@tour) %>
<% end %>
<% if current_user_can_create_tour? %>
  | <%= link_to 'New', new_tour_path %>
<% end %>

<!-- Also display any reviews that exist for this tour -->
<!-- This comes after the edit link because you edit reviews elsewhere -->
<% unless @reviews.empty? %>

  <p>
    <strong>Reviews:</strong>
  </p>

  <table>
    <thead>
    <tr>
      <th>Subject</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.subject %></td>
        <td><%= review.content %></td>
        <td><%= review.get_user_name %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
