<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @review.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.get_user_name %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @review.get_tour_name %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
