<!-- This partial can be rendered from any view -->
<!-- https://richonrails.com/articles/partials-in-ruby-on-rails -->

<!-- Tour name -->
<h1>
  <% if booking %>
    <%= booking.tour.name %>
  <% else %>
    <%= waitlist.tour.name %>
  <% end %>
   Booking
</h1>

<!-- Total seats on tour -->
<p>

    The tour has
    <% if booking %>
      <%= booking.tour.num_seats %>
    <% else %>
      <%= waitlist.tour.num_seats %>
    <% end %>
     total seats.

</p>

<!-- What you booked -->
<p>

  You have booked
  <% if booking %>
    <%= booking.num_seats %>
  <% else %>
    0
  <% end %>
  seats.

</p>

<!-- What you waitlisted -->
<p>

  <!-- Seats you waitlisted -->
  You have waitlisted
  <% if waitlist %>
    <%= waitlist.num_seats %>
  <% else %>
    0
  <% end %>
  seats.

</p>