<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @start.tour %>
</p>

<p>
  <strong>Location:</strong>
  <%= @start.location %>
</p>

<%= link_to 'Edit', edit_start_path(@start) %> |
<%= link_to 'Back', starts_path %>
