
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Always show name and allow edits to name -->
  <!-- (for users who were allowed to come to this page in the first place) -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <!-- May not be allowed to modify login & password -->
  <!-- Also, they can't even see password, so don't bother including in form -->
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :disabled => !current_user_can_modify_login_for_given_user?(@user) && logged_in?%>
  </div>

  <!-- Always show name and allow edits to user role -->
  <!-- (for users who were allowed to come to this page in the first place) -->
  <div class="field">
    <%= form.label :agent %>
    <%= form.check_box :agent %>
  </div>
  <div class="field">
    <%= form.label :customer %>
    <%= form.check_box :customer %>
  </div>

  <!-- Submit -->
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
