<!DOCTYPE html>
<html>
  <head>
    <title>TourManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Application Title -->
    <h1>Tour Management System</h1>
    <!-- https://stackoverflow.com/questions/9390778/best-practice-method-of-displaying-flash-messages -->
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <!-- Specific view content -->
    <%= yield %>
    <!-- Links to other views -->
    <br><br>
    <br><br>
    <h2>Menu</h2>
    <%= link_to "Users", users_url %> <%= link_to "Tours", tours_url %> <%= link_to "Reviews", reviews_url %> <%= link_to "Locations", locations_url %>
    <!-- Debug per https://www.railstutorial.org/book/sign_up -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>