<!DOCTYPE html>
<html>
  <head>
    <title>TourManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Application Title -->
    <h1>Tour Management System</h1>

    <!-- Note current user's name -->
    <!-- Do this up at the top so that it remains in the same place regardless of the page-specific content -->
    <% if logged_in? %>
      Welcome <%= current_user.name %>
    <% end %>

    <!-- https://stackoverflow.com/questions/9390778/best-practice-method-of-displaying-flash-messages -->
    <% flash.each do |key, value| %>
      <!-- We use flash to keep track of search filters (don't show that stuff onscreen -->
      <% if key != "filters" %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
    <% end %>

    <!-- Specific view content -->
    <%= yield %>

    <!-- Links to other views -->
    <% if logged_in? %>

      <br><br>
      <br><br>

      <h2>Links</h2>

      <% if current_user_can_see_users? %>
        <%= link_to "Users", users_url %>
      <% end %>

      <% if current_user_can_see_tours? %>
        <p>
          <b>Tours:</b>
          <%= link_to "Show tours", tours_url %>
        </p>
      <% end %>

      <% if current_user_can_see_reviews? %>
        <!-- TODO: uncomment this link once it works (or remove it entirely) -->
        <%#= link_to 'Show my reviews', reviews_path(reviews_user: current_user.id) %>
        <%= link_to "Reviews", reviews_url %>
      <% end %>

      <% if current_user_can_see_locations? %>
        <%= link_to "Locations", locations_url %>
      <% end %>

    <% end %>

    <!-- Log In / Log Out -->
    <% if logged_in? %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", login_path %>
    <% end %>

    <!-- Debug per https://www.railstutorial.org/book/sign_up -->
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>