<p id="notice"><%= notice %></p>

<h1><%= @page_title %></h1>

<!-- TODO add ability to cancel booking -->
<!-- TODO restrict ability to cancel booking -->
<!-- TODO show waitlists as well -->
<!-- TODO if all waitlist indexing is available here, delete waitlist index and associated links / tests -->

<% unless @bookings.empty? %>

  <table>
    <thead>
    <tr>
      <th>Tour</th>
      <th>User</th>
      <th>Num seats</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.tour.name %></td>
        <td><%= booking.user.name %></td>
        <td><%= booking.num_seats %></td>
        <td><%= link_to 'Show', booking %></td>
        <% if current_user_can_modify_given_booking?(booking) %>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<% if @bookings.empty? %>
  No Results
<% end %>

<br>

<!-- There is no link to create a new booking because you do that from tours show or index view -->
